@import url(https://cdn.statically.io/gh/Overimagine1/old-discord-font/main/source.min.css);
@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/ServerColumns/ServerColumns.css);

.avatar-3QF_VA {
  border: 8px solid transparent;
  background-color: transparent;
}

:root {
  --columns: 2; /* Number of server columns */
  --guildsize: 50; /* Server size in pixels */
  --guildgap: 3; /* Gap between servers in pixels */
  --aligndms: 0; /* DMs alignment in columns (0 = no, 1 = yes) */

  /*majority theme*/
  --theme-background-image: url(https://i.ibb.co/XsC38DS/3cd9e55909a8d6c0c476d2350786b922.jpg); /* The main image over your whole Discord client */
  --main-theme-color: #ffffff; /* The default theme color */
  --theme-transparency: rgba(0, 0, 0, 0.7); /* The mask that applies over the background */
  --home-icon-image: url(https://i.ibb.co/x11YymH/home2.png); /* Your friends icon */
  --home-icon-image-position: center center;
  --home-icon-image-zoom: 100%;

  /*[FONT SETTINGS]*/
  --font: "Inter";
  --font-primary: var(--font);
  --font-display: var(--font);
  --font-header: var(--font);
  --font-code: Iosevka, "Iosevka";
  --webkit-font-smoothing: antialiased;
  --moz-os-x-font-smoothing: grayscale;

  /*[CODE BLOCKS]*/
  --code-markup-background-color: rgba(0, 0, 0, 0.6); /* Code blocks background color */
  --code-markup-border: 1px solid transparent; /* Optional border around code blocks */

  --message-box-transparency: rgba(0, 0, 0, 0.6); /* The message box at the bottom */
  --embed-background-transparency: rgba(0, 0, 0, 0.6);

  --message-hover-buttons-background: rgba(200, 200, 200, 0.1); /* Hover background for buttons in messages */

  /*[overall settings]*/
  --context-menu-transparency: rgba(15, 15, 15, 0.8);
  --add-discover-icon-transparency: rgba(200, 200, 200, 0.15);
  --add-discover-icon-color: #43b581;

  --scrollbar-color: #ffffff89;

  --new-messages-bar-background-color: var(--main-theme-color); /* New messages bar background */
  --new-messages-bar-font-color: #fff;

  --emoji-menu-background-color: rgba(0, 0, 0, 0.6);
  --emoji-menu-server-header-background-color: rgba(0, 0, 0, 0.8);
}

/* Fix for the position of the mention badge on the server icon */
.guild-1M7Twb .badge-2uDJ7J {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px; /* Adjust the size of the badge */
  height: 10px; /* Adjust the size of the badge */
  background-color: #f04747; /* Mention notification color */
  border-radius: 50%; /* Circle shape */
}

/* Ensure the server icon is positioned correctly */
.guild-1M7Twb .icon_d8bfb3 {
  position: relative;
}

/* Hides the Nitro button on the DM page */
ul[role="list"] li[class^="channel"]:nth-child(3) {
    display: none;
}

/* Hides the Shop button on the DM page */
ul[role="list"] li[class^="channel"]:nth-child(4) {
    display: none;
}

/* Get rid of the insane and weird padding around the message input box */
form[class*="ChatInput"] {
    padding-left: 10px;
    padding-right: 10px;
}
form[class*="ChatInput"] {
    --custom-chat-input-margin-bottom: 10px;
}

/* Transparent channels role menu background */
.content_a7d72e.container_f1fd9c, .chat_a7d72e.scrollerContainer_c6b11b, .chat_a7d72e.container_c2efea {
    background-color: transparent;
}

.prompt_c6b11b, .profileCard_c6b11b, .channelRow_f04d06 {
    background-color: #0000006e;
}

.scroller_fca846 {
  background-color: transparent;
}

/* Removed display of useless elements */
.edited_f9f2ca:not(.message-translate-indicator) {
    display: none;
}

/* Improved appearance of blocked messages */
.scrollerInner_e2e187>.groupStart_d5deea:not(.backgroundFlash_d5deea)>.wrapper_f9f2ca {
  padding: 0 0 0 16px;
}
.scrollerInner_e2e187>.groupStart_d5deea:not(.backgroundFlash_d5deea)>.wrapper_f9f2ca.compact_f9f2ca {
  padding: 0 0 0 108px;
}
.scrollerInner_e2e187>.groupStart_d5deea:not(.backgroundFlash_d5deea) {
  margin: 0;
}
.scrollerInner_e2e187>.groupStart_d5deea.expanded_c09d0f:not(.backgroundFlash_d5deea) {
  background-color: var(--info-danger-background);
}
.scrollerInner_e2e187>.groupStart_d5deea:not(.backgroundFlash_d5deea) .messageListItem_d5deea .groupStart_d5deea,
.scrollerInner_e2e187>.groupStart_d5deea:not(.backgroundFlash_d5deea, .expanded_c09d0f)+.messageListItem_d5deea .groupStart_d5deea {
  margin-top: 0;
}
.scrollerInner_e2e187>.groupStart_d5deea:not(.backgroundFlash_d5deea) .messageListItem_d5deea {
  opacity: .5;
}
.blockedSystemMessage_c09d0f .iconContainer_d76df7 {
  display: none;
}
.blockedMessageText_c09d0f {
  position: relative;
  font-size: 12px;
  line-height: 16px;
  color: var(--interactive-muted);
}
.blockedMessageText_c09d0f:hover {
  text-decoration: underline;
}
.blockedMessageText_c09d0f:hover, .groupStart_d5deea.expanded_c09d0f .blockedMessageText_c09d0f {
  color: var(--info-danger-foreground);
}
.blockedAction_c09d0f {
  position: absolute;
  inset: 0;
  width: 100%;
  opacity: 0;
}
.blockedMessageText_c09d0f:after {
  content: '';
  position: absolute;
  right: 0;
  height: 100%;
  width: 14px;
  pointer-events: none;
  background-color: currentColor;
  -webkit-mask: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 18 24" fill="currentColor"><path fill-rule="evenodd" clip-rule="evenodd" d="M15 3.999V2H9V3.999H3V5.999H21V3.999H15Z M5 6.99902V18.999C5 20.101 5.897 20.999 7 20.999H17C18.103 20.999 19 20.101 19 18.999V6.99902H5ZM11 17H9V11H11V17ZM15 17H13V11H15V17Z" ></path></svg>') center/contain no-repeat;
}
