@import url(https://cdn.statically.io/gh/Overimagine1/old-discord-font/main/source.min.css);
@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/ServerColumns/ServerColumns.css);

:root {
  --columns: 2; /* number of server columns */
  --guildsize: 50; /* server size in pixels */
  --guildgap: 3; /* gap between servers in pixels */
  --aligndms: 0; /* dms alignment in columns */

  /*majority theme*/
  --theme-background-image: url(https://i.ibb.co/XsC38DS/3cd9e55909a8d6c0c476d2350786b922.jpg); /* main image over your whole discord */
  --main-theme-color: #ffffff; /* theme color */
  --theme-transparency: rgba(0, 0, 0, 0.7); /* mask that applies over the background */

  /*[FONT SETTINGS]*/
  --font: "Inter";
  --font-primary: var(--font);
  --font-display: var(--font);
  --font-header: var(--font);
  --font-code: Iosevka, "Iosevka";
  --webkit-font-smoothing: antialiased;
  --moz-os-x-font-smoothing: grayscale;

  /*[CODE BLOCKS]*/
  --code-markup-background-color: rgba(0, 0, 0, 0.6); /* code blocks background color */
  --code-markup-border: 1px solid transparent; /* optional border around code blocks */

  --message-box-transparency: rgba(0, 0, 0, 0.6); /* the message box at the bottom */
  --embed-background-transparency: rgba(0, 0, 0, 0.6);

  --message-hover-buttons-background: rgba(200, 200, 200, 0.1); /* hover background for buttons in messages */

  /*[overall settings]*/
  --context-menu-transparency: rgba(15, 15, 15, 0.8);
  --add-discover-icon-transparency: rgba(200, 200, 200, 0.15);
  --add-discover-icon-color: #43b581;

  --scrollbar-color: #ffffff89;

  --new-messages-bar-background-color: var(--main-theme-color); /* new messages bar background */
  --new-messages-bar-font-color: #fff;

  --emoji-menu-background-color: rgba(0, 0, 0, 0.6);
  --emoji-menu-server-header-background-color: rgba(0, 0, 0, 0.8);
}
